h1 {
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255,0.5);
    color: blue
    
}

h3 {
display: inline;
    background-color: rgba(255,255,255,0.5);
    color: yellow
}

h4 {
    display: inline;
    background-color: rgb(255,255,255, 0.5);
    color: yellow;
}

img {
    width: 400px;
}

#thirdDiv {
    position: relative; right: 25%; left: 25%;
    background-color: rgba(255,255,255,0.8);
    width: 500px;
    height: 800px;
    padding: 50px;
    border: 5px groove beige;
}
  
  
a {
    position: relative; right: 42%; left: 42%;
    display: inline;
    background-color: rgba(255,255,255,0.5);
}

#spanId {
    position: relative; right: 38%; left: 38%;
    display: inline;
    background-color: rgba(255,255,255,0.5);
    font-size: 18px;
}

body{
    background-image: url(https://imgs.search.brave.com/lv7b2YHGxIqOEPIujwSNofIHkfiLO2Yjf7hlo60mbUs/rs:fit:1200:1125:1/g:ce/aHR0cHM6Ly93d3cu/c2VyaW91c2VhdHMu/Y29tL3RobWIvb2Rt/dzQyTHFtRXdacE02/TkprX1h4TUdhN0lF/PS8xNTAweDExMjUv/ZmlsdGVyczpmaWxs/KGF1dG8sMSkvX19v/cHRfX2Fib3V0Y29t/X19jb2V1c19fcmVz/b3VyY2VzX19jb250/ZW50X21pZ3JhdGlv/bl9fc2VyaW91c19l/YXRzX19zZXJpb3Vz/ZWF0cy5jb21fXzIw/MTRfXzEwX18yMDIx/MDMyMV9Ub3J0aWxs/YVBpenphX0xpekNs/YXltYW4tMTAtYTFh/MGUwMWUyNTllNDli/ZGI2ZDJhYmRhMjAy/ZTRkNmIuanBn);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(255,255,255, 0.5);
}